<%- include ('nav.ejs') %>
<title>Customers</title>
<div class="content">
  
<h2>Customer List</h2>
<input
  type="text"
  id="key"
  class="form-control"
  placeholder="Search"
  onkeyup="searchCustomer()"
/>
<br />


<ul id="item-list" class="list-group list-group-striped">
  <% customerList %> <% for(let i = 0; i < customerList.length; i++) { %>
  <li class="list-group-item">
    Customer Full Name:
    <b
      ><%=customerList[i].customerName%>
      <%=customerList[i].customerSurname%></b
    >
  </li>
  <% } %>
</ul>


</div>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <script>
      function searchCustomer() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("key");
        key = input.value.toUpperCase();
        ul = document.getElementById("item-list");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          b = li[i].getElementsByTagName("b")[0];
          txtValue = b.textContent || b.innerText;
          if (txtValue.toUpperCase().indexOf(key) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
    </script>
  </body>
</html>
