<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/register.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icon/favicon-16x16.png"
    />
    <link rel="manifest" href="/icon/site.webmanifest" />
  </head>
  <body>
    <title>Refresh Password</title>
    <div class="register-photo">
      <div class="form-container">
        <div class="image-holder"></div>
        <form method="post" action="/refreshPassword">
          <h2 class="text-center"><strong>New Password</strong></h2>
          <div class="form-group">
            <input
              class="form-control"
              type="password"
              name="password"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="password"
              name="repeatpassword"
              placeholder="Repeat Password"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              type="hidden"
              value=<%=token %>
              name="token"
            />
          </div>
          <div class="form-group">
            <button class="btn btn-warning btn-block my-2" type="submit">
              Save
            </button>
          </div>
          <a href="/login" class="already my-3 text-danger"
            >Click to login</a
          >
          <label class="text-danger already"><%= msgForRefresh %></label>
        </form>
      </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
