<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/register.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icon/favicon-16x16.png"
    />
    <link rel="manifest" href="/icon/site.webmanifest" />
  </head>
  <body>
    <title>Emailiniz Onaylandı</title>
    <div class="register-photo">
      <div class="form-container">
        <div class="image-holder"></div>
        <form method="post" action="/register">
          <h2 class="text-center"><strong>Email Onay</strong></h2>
          <a href="/login" class="already">Giriş için tıklayınız.</a>
        </form>
      </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
